*.class
*.log

# python
__pycache__
*.pyc

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IDEA-IDE specific
.idea
*.iml

# db
db/*.db
db/*.db-journal
